# Day 1: AI KS

# Question 1

In [ ]:
# Assigning message in a variable
x = 'this is a message'
# printing message
print(x)

this is a message

# Question 2

In [ ]:
# Assigning message in a variable
y = 'this is a message 2'
# printing message
print(y)

this is a message 2

In [ ]:
# Changing value of y
y = 123.237
print(y)

123.237

# Question 3

In [ ]:
name = 'Adil'

print(f'Hi {name}, hope you are enjoing practing python.')

Hi Adil, hope you are enjoing practing python.

# Question 4

In [ ]:
name1 = 'Anwar'
l = name1.lower()
u = name1.upper()
t = name1.title()

print(f'Lower case of name is {l}.\nUpper case of name is {u}.\nTittle case of the name is {t}.')

Lower case of name is anwar.
Upper case of name is ANWAR.
Tittle case of the name is Anwar.

# Question 5

In [ ]:
quote = 'Zoints regime is dying.'

print(f'Ayatullah Khamaenai once said, \"{quote}\"')

Ayatullah Khamaenai once said, "Zoints regime is dying."


# Question 6

In [ ]:
author = 'Andrew Ng'

quote = 'AI is the new electricity'

print(f'{author} once said, \"{quote}.\"')

Andrew Ng once said, "AI is the new electricity."

# Question 7

In [ ]:
# Strip is used for removing whitespaces
name2 = '   \t   name  . \t \n '

print(name2)

print(f'l: {name2.lstrip()}') # remove whitespace from left of the content
print(f'r: {name2.rstrip()}') # remove from right
print(f'n: {name2.strip()}') # remove from both sides

   	   name  .

l: name  .

r:    	   name  .
n: name  .

# Question 8

In [ ]:
value = 'Python_file.txt'

print(value.removesuffix('.txt'))
print(value.removeprefix('Py'))

Python_file
thon_file.txt

# Question 9

In [ ]:
fav = 5

message = 'my favorite number is '

print(f'{message}{fav}')

my favorite number is 5

# Next Exercise

# 2-1

In [ ]:
names = ['safdar', 'khan', 'lala','mustafa', 'haider','ali']

print(f'name 1 = {names[0]}\nname 2 = {names[1]}\nname 3 = {names[2]}\nname 4 = {names[3]}\nname 5 = {names[4]}\nname 6 = {names[5]}')

name 1 = safdar
name 2 = khan
name 3 = lala
name 4 = mustafa
name 5 = haider
name 6 = ali

# 2-2

In [ ]:
message = 'Hello, how are you dear'

print(f'{message} {names[0]}\n{message} {names[1]}\n{message} {names[2]}\n{message} {names[3]}\n{message} {names[4]}\n{message} {names[5]}')

Hello, how are you dear safdar
Hello, how are you dear khan
Hello, how are you dear lala
Hello, how are you dear mustafa
Hello, how are you dear haider
Hello, how are you dear ali

# 2-3

In [ ]:
invited = names[1:4]
print(f'invited persons are: {invited}')
print('*'* 50)
invitation = 'hope you are doing great. You are warmly invited to the dinner'

#inviting only people in invited list
#print(f'{invited[0]}, {invitation}\n{invited[1]}, {invitation}\n{invited[2]}, {invitation}')

# Alternate:
for i in range(len(invited)):
  print(f'{invited[i]}, {invitation}')

invited persons are: ['khan', 'lala', 'mustafa']
**************************************************
khan, hope you are doing great. You are warmly invited to the dinner
lala, hope you are doing great. You are warmly invited to the dinner
mustafa, hope you are doing great. You are warmly invited to the dinner

# 2-4

In [ ]:
# one of the guests cant make it
print(f'{invited[1]}, cant make it. So we must replace him with anwar')
print('*'*50)
# updating the list

for i in range(len(invited)):
  if invited[i] == 'lala':
    invited[i] = 'anwar'


for i in range(len(invited)):
  print(f'{invited[i]}, {invitation}')

#simple way
#print(f'{invited[0]}, {invitation}\n{invited[1]}, {invitation}\n{invited[2]}, {invitation}')

lala, cant make it. So we must replace him with anwar
**************************************************
khan, hope you are doing great. You are warmly invited to the dinner
anwar, hope you are doing great. You are warmly invited to the dinner
mustafa, hope you are doing great. You are warmly invited to the dinner

# 2-5

In [ ]:
print(f'Guys! {invited}, we have found a big table. We can add more people\n')

invited.insert(0,'first person')
invited.insert(2, 'middle man')
invited.append('last man')


print(f'Updated list of invited people: {invited}')
print('*'*50)
print('invitations')
print('*'*50)

for i in range(len(invited)):

  print(f'{invited[i]}, {invitation}\n')

Guys! ['khan', 'anwar', 'mustafa'], we have found a big table. We can add more people

Updated list of invited people: ['first person', 'khan', 'middle man', 'anwar', 'mustafa', 'last man']
**************************************************
invitations
**************************************************
first person, hope you are doing great. You are warmly invited to the dinner

khan, hope you are doing great. You are warmly invited to the dinner

middle man, hope you are doing great. You are warmly invited to the dinner

anwar, hope you are doing great. You are warmly invited to the dinner

mustafa, hope you are doing great. You are warmly invited to the dinner

last man, hope you are doing great. You are warmly invited to the dinner

# 2-6

In [ ]:
copy = invited.copy()

In [ ]:
copy

['first person', 'khan', 'middle man', 'anwar', 'mustafa', 'last man']

In [ ]:
invited

['first person', 'khan', 'middle man', 'anwar', 'mustafa', 'last man']

In [ ]:
invited.append('adil')

In [ ]:

invited

['first person', 'khan', 'middle man', 'anwar', 'mustafa', 'last man', 'adil']

In [ ]:
copy1= copy.copy()

In [ ]:
print('Opps, we have only two seats avaiable!')

for i in range(len(invited)-2):
  print(f'Sorry, {invited.pop()} you are no more invited.')

print('\n')

print('*'*40)

for i in range(len(invited)):
  print(f'{invited[i]} you are still invited')

Opps, we have only two seats avaiable!
Sorry, last man you are no more invited.
Sorry, mustafa you are no more invited.
Sorry, anwar you are no more invited.
Sorry, middle man you are no more invited.


****************************************
first person you are still invited
khan you are still invited

In [ ]:
del invited[:]
print(invited)

[]

# 2-7

In [ ]:
places = ['lahore', 'karachi', 'multan','faisalabad','sialkot']

print(places)

print(places.sort())

print(places)

#places.sort(reverse=True)

print(places)

['lahore', 'karachi', 'multan', 'faisalabad', 'sialkot']
None
['faisalabad', 'karachi', 'lahore', 'multan', 'sialkot']
['faisalabad', 'karachi', 'lahore', 'multan', 'sialkot']

compelete last two questions

In [ ]:
places = ['lahore', 'karachi', 'multan','faisalabad','sialkot']

print(places)
print(sorted(places))
print(places)
print(sorted(places, reverse=True))
print('original list:')
print(places)
print('reversed list:')
places.reverse()
print(places)
print('reversed back list:')
places.reverse()
print(places)
print('last list:')
places.sort()
print(places)
places.sort(reverse=True)
print(places)

['lahore', 'karachi', 'multan', 'faisalabad', 'sialkot']
['faisalabad', 'karachi', 'lahore', 'multan', 'sialkot']
['lahore', 'karachi', 'multan', 'faisalabad', 'sialkot']
['sialkot', 'multan', 'lahore', 'karachi', 'faisalabad']
original list:
['lahore', 'karachi', 'multan', 'faisalabad', 'sialkot']
reversed list:
['sialkot', 'faisalabad', 'multan', 'karachi', 'lahore']
reversed back list:
['lahore', 'karachi', 'multan', 'faisalabad', 'sialkot']
last list:
['faisalabad', 'karachi', 'lahore', 'multan', 'sialkot']
['sialkot', 'multan', 'lahore', 'karachi', 'faisalabad']

# Assignment:

In [ ]:
box1 = [1,2,3,4]
box2 = [5,6,7,8]