Array Transposition

In [1]:
import numpy as np

In [2]:
arr=np.arange(15).reshape((3,5))
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [3]:
arr.T

array([[ 0,  5, 10],
       [ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14]])

In [4]:
arr=np.random.randn(6,3)
arr

array([[ 1.23871341,  0.57594278,  1.12655089],
       [-1.51496252,  0.11240421,  0.39625972],
       [ 0.61598959, -1.14881279, -0.53126536],
       [ 2.69687206,  3.27115069, -0.86690495],
       [ 0.16025726,  1.57198005, -0.01508185],
       [-1.06344879,  1.09957169, -0.3076218 ]])

In [5]:
np.dot(arr.T, arr)

array([[12.63869016,  7.73994108, -1.54530754],
       [ 7.73994108, 16.04472165, -1.89404277],
       [-1.54530754, -1.89404277,  2.55476438]])

In [6]:
arr=np.arange(16).reshape(2,2,4)

In [7]:
arr

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]]])

In [8]:
arr.transpose((1,0,2))

array([[[ 0,  1,  2,  3],
        [ 8,  9, 10, 11]],

       [[ 4,  5,  6,  7],
        [12, 13, 14, 15]]])

In [9]:
arr

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]]])

In [10]:
arr.swapaxes(1,2)

array([[[ 0,  4],
        [ 1,  5],
        [ 2,  6],
        [ 3,  7]],

       [[ 8, 12],
        [ 9, 13],
        [10, 14],
        [11, 15]]])

In [13]:
arr.transpose((1,0,2))

array([[[ 0,  1,  2,  3],
        [ 8,  9, 10, 11]],

       [[ 4,  5,  6,  7],
        [12, 13, 14, 15]]])

In [21]:
arr1=np.arange(27).reshape(3,3,3)
arr1

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [25]:
arr1

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [24]:
arr1.transpose((2,0,1))

array([[[ 0,  3,  6],
        [ 9, 12, 15],
        [18, 21, 24]],

       [[ 1,  4,  7],
        [10, 13, 16],
        [19, 22, 25]],

       [[ 2,  5,  8],
        [11, 14, 17],
        [20, 23, 26]]])

In [34]:
zeros = np.zeros(3)
zeros

array([0., 0., 0.])

In [40]:
one = np.ones(3)
one

array([1., 1., 1.])

In [48]:
sq = np.matrix([[3,3,3],[1,1,1],[2,2,2]])
sq

matrix([[3, 3, 3],
        [1, 1, 1],
        [2, 2, 2]])